.textfield{
    -fx-background-color:transparent;
    -fx-border-color: red;
     -fx-border-width:.0px 0px 1px 0px;
     -fx-font-family:"Tahoma";
     -fx-font-size:13px;
}
.textfield:focused{
    -fx-border-width:.0px 0px 1px 0px;
    -fx-border-color: black;
}